/* body {margin: 0;font-family: arial;font-size: 12px} */


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #44691A;}

ul.topnav li.right {float: right;}
    
   #imagen{
        height: 200px ;
        width:200px ;
        padding: 27px;
    }
    
    
    
    #cuadro :hover{
/*        background-color: crimson;*/
        background-color:darkorange;
        border-radius: 7px;
        transition: all .9s ease;
-webkit-transition: all .9s ease;
        
    }

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
    #logo{
        display: none;
    }
}